.ipynb_checkpoints/Regularization-checkpoint.ipynb
__pycache__
data/
models/
BERTQG/models/bert-base-uncased/pytorch_model.bin
BERTQG/models/lm*
BERTQG/models/uqa*
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Regularization_module-checkpoint.py
BERTQG/.ipynb_checkpoints/modeling-checkpoint.py
BERTQG/.ipynb_checkpoints/token_generation-checkpoint.py
.ipynb_checkpoints/Analysis-checkpoint.ipynb